*~
*.pyc
*.so
*.bak
doc/_build
/build/lib/pyre/__init__.py
/build/lib/pyre/cholesky.py
/build/lib/pyre/correlation.py
.vimspector.json
breitung_check.py
check_with_DKLH_1987.py
check_with_uqpy.py
dev_example.py
example2.py.gddoc
projection.png
pyre.egg-info/
pyre/.spyproject/
pyre/sorm_validation_DKDS1990.py
pyre/tags
sorm_notes.md
sorm_notes.pdf
tags
*.Result
