# Misc utilities
*~
*.so
*.bak
tags

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Sphinx documentation
docs/_build/
docs/source/gen/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
